/* Default font */
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* header margin and beckground img */
header {
    display: flex;

}

.header {
    background-image: url(../images/banner/banner2.png);
    width: 1600px;
    height: 809px;
    left: 1600px;
    bottom: 130px;
}

/* header text, paragraph and button  style */
.header-text {
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
}

.header-paragraph {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;

}

.header-btn {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background: #F15B22;
    border-radius: 5px;
}

/* My failure.. blog */
.blog-section {
    max-width: 1072px;
    max-height: 723.3px;
    left: 206px;
    top: 939px;
    display: flex;
    background-image: url(../images/person.png);
    width: 569px;
    height: 723.3px;
    margin: 130px 206px 87px;
}

.blog-text {
    position: absolute;
    width: 416px;
    height: 400px;
    left: 862px;
    top: 1178px;
}

.blog-title {
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
    color: #151414;
}

.blog-paragraph {
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.list-style {
    width: 315px;
    height: 26px;
    left: 903px;
    top: 1400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

/* My Plan style */
.section-title {
    left: 711px;
    top: 1792.3px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-left: 760px;


}

.pos {
    margin: 0 100px;
}

.plan-container {
    display: flex;
    margin-top: 50px;
    margin-left: 279px;
    margin-right: 180px;
    margin-bottom: 170px;
}

.plan-name-web {
    left: 279px;
    top: 2008.96px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.plan-discriptoion-web {
    left: 326px;
    top: 2059.96px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;

}

.plan-name-js {
    left: 648px;
    top: 2003px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.plan-discriptoion-js {
    left: 635px;
    top: 2054px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

.plan-name-smoking {
    left: 902px;
    top: 2003px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.plan-discriptoion-smok {
    left: 929px;
    top: 2054px;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

.plan-name-ec {
    left: 1226px;
    top: 2003px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;


}

.plan-discriptoion-ec {
    left: 1206px;
    top: 2054px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* Contact Banner */
/*--------------------------------------------
                       3rd section
-------------------------------------------*/
.watch {
    margin-left: 18%;
    height: 500px;
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
}

.gradient {
    height: 500px;
    background-image: url(../images/gradient2.png);
    background-repeat: no-repeat;
}

.title-bnr {
    margin-top: 59px;
    margin-left: 64px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.btn-call {
    margin-left: 64px;
    width: 160px;
    height: 64px;
    left: 294px;
    top: 2393.3px;
    background: #FFFFFF;
    border-radius: 5px;
    left: 330px;
    top: 2414.3px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #F15B22;

}

/* footer Style */
/* --------------------
footer-section css
----------------------- */
footer {
    color: aliceblue;
    background-color: rgb(106, 21, 117);
    height: 500px;
}

#icon {
    display: flex;
}

footer li {
    margin: 10px;
    list-style: none;
}

.row {
    display: flex
}

.column1 {
    margin: 100px 120px;
}

.column2 {
    margin: 100px 900px;
}

.sub {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;

    color: #FFFFFF;
}

.sub-btn {
    width: 170.11px;
    height: 64px;
    left: 979px;
    top: 2942px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    
    color: #F15B22;
    
}